{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Home</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Accusamus, aliquam, atque, autem blanditiis consequuntur corporis
        cumque debitis dolorem doloremque dolorum eaque eius enim error
        exercitationem fugiat harum illo impedit in inventore ipsa ipsum
        itaque iure laboriosam libero magni maxime molestiae nam natus
        necessitatibus nemo neque nihil nisi nostrum nulla obcaecati
        officia omnis optio pariatur perferendis perspiciatis placeat
        porro quaerat quam quas quia quibusdam quidem quis quod ratione
        recusandae repellendus reprehenderit repudiandae rerum saepe
        sapiente sequi similique sint soluta sunt tempora tenetur
        temporibus, totam ullam unde velit vero voluptatem voluptates
        voluptatibus.
    </p>
{% endblock %}